body{
    background-color: #1A1919;
}

.navbar {
    display: flex;
    height: 80px;
    padding: 10px 48px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    background-color: #1A1919;
    color: #fff;
    margin-bottom: 10px;
    flex-direction: row;
    font-family: "Roboto-Black", Helvetica;
    font-weight: 700;
}

.logo a{
    color: #ffffff;
    text-decoration: none;
    font-family: "Roboto-Black", Helvetica;
    font-weight: 700;
}

.navlink a{
    list-style: none;
    margin-right: 30px; /* Agregado para espaciar los elementos de la lista */
    flex-direction: row;
    padding: 8px;
    font-family: "Roboto-Black", Helvetica;
    color: #fff;
    text-decoration: none;
}

.navlink a:hover{
    color: #fff;
    text-decoration: none;
    border: 0.5px solid black;
    background-color: black;
    border-radius: 5px;
}

.autorizacion a{
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
    flex-direction: row;
    padding: 8px;
}

/* contendio */

.contenedor{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    color: #fff;
    margin-bottom: 10px;
    position: relative;
}
.contenido{
    font-size: 8px;
    position: absolute;
    padding: 132.5px 80px ;
    flex-direction: row;
    text-align: left;
}
.titulo{
    font-size: 56px;
    font-family: "Roboto-Black", Helvetica;
    font-weight: 700;
    margin-top: 24px;
    margin-bottom: 24px;
    text-align: left;
}

.parrafo{
    font-size: 16px;
    font-family: "Roboto-Black", Helvetica;
    font-weight: 700;
    margin-top: 24px;
    margin-bottom: 24px;
    text-align: left;
}

.contenido a{
    margin-top: 72px;
    font-size: 24px;
    margin-bottom: 20px;
    padding: 8px 48px;
    background-color: #F5B60F;
    color: black;
    border-radius: 16px;
    text-decoration: none;
    font-family: "Roboto-Black", Helvetica;
    font-weight: 700;
    text-align: left;
}

.contenido a:hover{
    color: #fff;
    text-decoration: none;
    border: 0.5px solid black;
    background-color: black;
    border-radius: 16px;
    font-family: "Roboto-Black", Helvetica;
    font-weight: 700;
}
.img{
    width: 100%;
    display:block;
    height: auto;
} 

.textos{
    font-family: "Roboto-Black", Helvetica;
    font-weight: 700;
    margin-top: 24px;
}



/* prueba de carrusel */
.marcas {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 48px;
    background-color: #1A1919;
    color: #fff;
    margin-bottom: 10px;
    font-family: "Roboto-Black", Helvetica;
    position: relative;
}

.cuadro {
    margin-top: -200px;
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    padding: 24px;
    background-color: #696969;
    border-radius: 24px;
    text-decoration: none;
    color: #fff;
    transition: background-color 0.3s, color 0.3s, transform 0.3s; /* Añadir transform a las propiedades en transición */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-left: 16px;
}

.cuadro:hover {
    background-color: #fff;
    color: #1A1919;
    transform: scale(1.1); /* Hacer que el cuadro se vea más grande en hover */
    margin-left: 8px;
}

.cuadro h3 {
    margin-top: 0;
}

.cuadro p {
    margin-bottom: 16px;
}
.marca{
    width: 100%;
    display:block;
    height: auto;
    color: #F5B60F;;
}

.cuadro span {
    color: #fff;
    text-decoration: none;
    border: 2px solid #fff;
    padding: 10px 20px;
    border-radius: 8px;
    transition: background-color 0.3s, color 0.3s;
    margin-left: 16px;
}

.cuadro:hover span {
    background-color: #fff;
    color: #1A1919;
    margin-left: 16px;
}


/* Inicio de sesión */


.contenedorRL{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    color: #fff;
    margin-bottom: 10px;
    position: relative;
    
}
.contenedorL{
    position: absolute;
    flex-direction: row;
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    font-family: "Roboto-Black", Helvetica;
    font-weight: 700;
}

.bienvenido{
    margin-right: 48px;
}


.form{
    display: flex;
    flex-direction: column;
    align-self: stretch;
    color: #fff;
    margin-bottom: 8px;
    position: relative;
}
.form .input{
    position: relative;
    align-self: stretch;
    width: 100%;
    height: 46px;
    background-color: #ffffff;
    border-radius: 13px;
    border: 1px solid;
    border-color: #8e8e8e;
}

.contenedorF{
    width: 300px;
}

.form button{
    margin-top: 72px;
    font-size: 24px;
    margin-bottom: 20px;
    padding: 8px 48px;
    background-color: #F5B60F;
    color: black;
    border-radius: 16px;
    text-decoration: none;
    font-family: "Roboto-Black", Helvetica;
    font-weight: 700;
    text-align: left;
}

.login{
    font-size: 32px;
    font-family: "Roboto-Black", Helvetica;
    font-weight: 700;
    margin-top: 24px;
    margin-bottom: 24px;
    text-align: left;
    color: #F5B60F;
}

.label{
    margin-bottom: 8px;
}

/* Registrarse */

.contenedorR{
    position: absolute;
    flex-direction: row;
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    font-family: "Roboto-Black", Helvetica;
    font-weight: 700;
}

.bienvenidos {
    position: absolute;
    margin-left: 700px;
    font-size: 32px;
}

.form{
    display: flex;
    flex-direction: column;
    align-self: stretch;
    color: #fff;
    margin-bottom: 8px;
    position: relative;
}
.input{
    position: relative;
    align-self: stretch;
    width: 100%;
    height: 46px;
    background-color: #ffffff;
    border-radius: 13px;
    border: 1px solid;
    flex-direction: column;
    display: flex;
    border-color: #8e8e8e;
}

.contenedorF{
    width: 300px;
    margin-right: 32px;
    margin-left: 80px;
}

.contenedorFO{
    width: 300px;
    margin-right: 32px;
    margin-left: 80px;
}

.boton{
    font-size: 24px;
    margin-bottom: 20px;
    padding: 8px 48px;
    background-color: #F5B60F;
    color: black;
    border-radius: 16px;
    text-decoration: none;
    font-family: "Roboto-Black", Helvetica;
    font-weight: 700;
    text-align: center;
    width: 100%;
}

.login{
    font-size: 32px;
    font-family: "Roboto-Black", Helvetica;
    font-weight: 700;
    margin-top: 24px;
    margin-bottom: 24px;
    text-align: left;
    color: #F5B60F;
}

.label{
    margin-bottom: 8px;
}

.bloque{
    position: absolute;
    /* margin-top: 100px;*/
    border: solid 1px #F5B60F;
    width: 3px;
    height: 410px;
    color: #F5B60F;
    background-color: #F5B60F;
    margin-left: 432px;
}
.bloqueR{
    position: absolute;
    /* margin-top: 100px;*/
    border: solid 1px #F5B60F;
    width: 3px;
    height: 410px;
    color: #F5B60F;
    background-color: #F5B60F;
    margin-right: 32px;
}

.separador{
    margin-bottom: 0px;
}

/* Favorite Cars page */

/* Cars View */
.alerta{
    width: 48px;
    height: 48px;
}

.alertMessage {
    padding: 20px;
    width: 75%;
    font-size: 20px;
    margin: auto;
    border-radius: 5px;
    box-shadow: rgb(0 0 0 / 25%) 0px 5px 10px 2px;
}

.closeBtn {
    float: right;
    margin-left: 18px;
    font-size: 30px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.4s;
}

/* About */


.banner-container {
    position: relative;
    text-align: center;
    color: white;
}

.banner-text {
    position: absolute;
    top: 50%;
    right: 5%; 
    transform: translate(0%, -50%);
    font-size: 20px;
    text-align: right;
    font-family: "Roboto-Black", Helvetica;
}

.texth1 {
    right: 10%;
}

.button-container {
    position: absolute;
    top: 60%; 
    right: 5%; 
}

/* Estilos para el botón */
.button-container button {
    padding: 10px 20px;
    background-color: #fff530; 
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}
.project-section,
.about-us-section {
    text-align: center;
    margin-top: 50px;
    color: #ffffff;
    font-family: "Roboto-Black", Helvetica;
}



.project-section h3,
.about-us-section h3 {
    color: white;
}
.about-us-section .persons-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
    font-family: "Roboto-Black", Helvetica;
}

.person {
    width: calc(40% - 10%); 
    background-color: #333; /* Color de fondo opcional pero quedo bonito x2 */
    padding: 20px;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: center;
    color: white;
    font-family: "Roboto-Black", Helvetica;
}

.persons-container2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.personx {
    width: calc(40% - 10%); 
    background-color: #333; /* Color de fondo opcional pero quedo bonito*/
    padding: 20px;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: center;
    color: white;
    font-family: "Roboto-Black", Helvetica;

}
.project-section p{
 text-align: justify;
 padding-right: 62px;
 padding-left: 62px;
}

.project-section h3 {
font-size: 24px;

}

.sesion-mensaje{
    margin-left: 80px;
    margin-right: 80px;
    padding: 8px 24px;
    background-color: #ffffff;
    border-left: 16px solid #F5B60F;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.mensaje-info{
    display: flex;
    flex-direction: column;
    gap: 0px;
    font-family: "Roboto-Black", Helvetica;
}
.mensaje-info h4{
    margin-top: 4px;
    margin-bottom: 4px;
}
.mensaje{
    margin-top: 0px;
}

.encabezado{
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 72px;
    margin-bottom: 32px;
    color: #ffffff;
}

hr{
    border: 0.5px solid #ffffff;
    margin-bottom: 32px;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 72px;
}

.muestra{
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 48px;
    flex-wrap: wrap;
    width: 100%;
}
.carros{
    background-color: #ffffff;
    padding: 24px;
    border-radius: 16px;
    flex: 0; /* Hacer que el cuadro no crezca, agregar 1 en caso no sirva */
    font-family: "Roboto-Black", Helvetica;
}

.separacion {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    gap: 4px;
}

.separacionL {
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
}

.separacion p, .separacion h2, .separacion h3 {
    margin: 0; /* Reset default margin for some elements */
}

.modelito{
    font-size: 12px;
    color: #F5B60F;
    font-weight: 500;
}

.marca-carro{
    font-size: 14px;
    color: #79747E;
}

.carro-descripcion{
    font-size: 14px;
    color: #49454F;
}
.buttons{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.test{
    background-color: #F5B60F;
    width: 100%;
    height: 32px;
    border-radius: 16px;
    border: 0.5px solid #8e8e8e;
    font-family: "Roboto-Black", Helvetica;
    font-weight: 700;
}

.test:hover{
    background-color: #1c1900;
    height: 32px;
    border-radius: 16px;
    border: 0.5px solid #8e8e8e;
    font-family: "Roboto-Black", Helvetica;
    font-weight: 700;
    color: #ffffff;
}

.fav{
    color: #F5B60F;
    width: 100%;
    height: 32px;
    border-radius: 16px;
    border: 1px solid #F5B60F;
    background-color: #ffffff;
    font-family: "Roboto-Black", Helvetica;
    font-weight: 700;
} 
.fav:hover{
    color: #ffffff;
    width: 100%;
    height: 32px;
    border-radius: 16px;
    border: 1px solid #F5B60F;
    background-color: #F5B60F;
    font-family: "Roboto-Black", Helvetica;
    font-weight: 700;
} 

/* Favorite Cars page */


